/* -- Шрифты -- */
$font_main: 'Ubuntu', sans-serif;;
$font_second : 'PT Sans', sans-serif;

/* -- Цвета -- */
$color_brand: #fac403;
$color_second: #2e3748;
$color_footer-info: $color_second;
$color_footer-border: $color_second;
$color_header-bg: #f2f2f2;
$color_vk-bg: #e8e8e8;
$color_sidebar-blocks-border: #eaeaea;
$color_form-inputs-border: #bcbcbc;
$color_hr: #32343d;
$color_menu-item_hover: #80807e;
$color_reviews-item-border: #d7d7d7;
$color_reviews-link: #0002ff;
$color_font_main: #2E3747;
$color_services-item-border: #d5d5d5;

/* -- Ширина -- */
$content-width: 1024px;
$width_sidebar: 30%;
$width_content: 70%;

