.content {
  padding: 20px 0;
  @media screen and (max-width: $content-width) {
    padding: 20px 15px;
  }
  /* -- Заголовки -- */
  h2 {
    font : {
      size: 25px;
      weight: bold;
    }
    margin: 20px auto;
  }

  h3 {
    font : {
      size: 22px;
      weight: bold;
    }
    margin: 20px auto;
  }

  h4 {
    font : {
      size: 18px;
      weight: 600;
    }
    margin: 20px auto;
  }

  h5, h6 {
    font : {
      size: 16px;
      weight: 500px;
    }
  }
  /* -- /Заголовки -- */
  
  /* -- Текст -- */
  p {
    font : {
      size: 16px;
    }
    margin: 10px auto;
  }
  /* -- /Текст -- */

  /* -- Элементы -- */
  iframe, img {
    max-width: 100%;
    margin: 10px auto;
  }
  /* -- /Элементы -- */

  /* -- Списки -- */
  ol {
    list-style: decimal;
    list-style-position: inside;
    padding-left: 10px;
    li {
      margin: 10px auto;
    }
  }
  ul {
    list-style: disc;
    list-style-position: inside;
    padding-left: 10px;
    li {
      margin: 10px auto;
    }
  }
  /* -- /Списки -- */

} /* -- /.content -- */